/venv/
venv/
build/
dist/
output_empleados/
html2image_temp/
tarjetas/
resultados/
novedades.csv
__pycache__/
*.pyc
*.pyo   
*.xlsx
*.xlsm  
*.csv 
Asistencia y Novedades V3 - Personal.csv
